<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>输液系统登录 Infuse System Login</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bigHwmk/login.css' %}">
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body id="background">
        <div id="maincontents">
            <div id="text">输液系统</div>
            <div id="qrcode"></div>
            <form method="post" action="./workplace/">
                {% csrf_token %}
            <div id="inputshell">
                <input id="userid" class="inputzone" name="userid" type="text" placeholder="账号">
                <input id="psword" class="inputzone" name="psword" type="password" placeholder="密码">
            </div>
            
            <div id="btnshell" type="submit">
                <button>登陆</button>
            </div>
            </form>
        </div>
    </body>
</html>

