*{
    margin:0;
    border: 0;
    padding: 0;
}

#background{
    background-color: #99CFEB;
    float: right;
    background-size: auto;
    width: auto;
    min-height: 480px;
    min-width: 768px;
    font-family: "Microsoft YaHei", "SimHei", "Apple LiGothic Medium";
}

#maincontents{
    border:2px solid #4095E5;
    position: absolute;
    width: 320px;
    height: 720px;
    left: 50%;
    margin-left: -160px;
    display: grid;
    grid-template-columns: [leftline] 160px [centerline] 160px [rightline];
    grid-template-rows: [topline] 100px [upwork] 470px [upmsg] 150px [downline];
}

#ring{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    grid-area: topline/leftline/upwork/rightline;
}

#queue{
    grid-area:upwork/leftline/upmsg/middleline;
    width: 160px;
    display:grid;
    grid-template-rows: 1/1/1/1;
    background-color: #4095E5;
}
.dropdown{
    width: 160px;
    height:60px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 60px;
}
.dropdown-absolute{
    width: 160px;
    height: 40px;
    display: none;
    position: absolute;
}
.dropdown:hover .dropdown-absolute{
    display: block;
}

#fucshell{
    grid-area: upwork/centerline/upmsg/rightline;
    width: 160px;
    display: grid;
    grid-template-rows: 1 1 1 1;
    background-color: white;
}
#fucshell button{
    margin-top: 20px;
    margin-bottom:40px;
    background-color: blueviolet;
}

#mailbox{
    grid-area: upmsg/leftline/downline/rightline;
    text-align: center;
    
    font-size: 40px;
    background-color: white;
}