<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>输液系统主界面 Workplace</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bigHwmk/workplace.css' %}">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <!-- 引入组件库 -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    </head>
    <body id="background">
        <div id="maincontents">
            <button id="ring">欢迎，护士{{userid}}</button>
            <button id="logout" class="bubble"></button>
            <button id="redBubble" class="bubble" style="background-color: red;">2</button>
            <div id="app">
                <el-collapse v-model="activeName" accordion>
                  <el-collapse-item title="穿刺 Infuse" name="1">
                    <div>301</div>
                    <div>302</div>
                  </el-collapse-item>
                  <el-collapse-item title="换药 Change" name="2">
                    <div>402</div>
                    <div>403</div>
                  </el-collapse-item>
                  <el-collapse-item title="巡视 Inspection" name="3">
                    <div>118</div>
                    <div>422</div>
                    <div>136房3号</div>
                  </el-collapse-item>
                  <el-collapse-item title="拔针 Defuse" name="4">
                    <div>4441548</div>
                    <div>15442</div>
                  </el-collapse-item>
                </el-collapse>
            </div>
            <button id="fucshell">开始工作</button>
            <button id="publicIssue">公共事件</button>
            <button id="mailbox">消息提醒</button>
        </div>
        <script src="//unpkg.com/vue@2/dist/vue.js"></script>
        <script src="//unpkg.com/element-ui@2.15.10/lib/index.js"></script>
        <script type="text/javascript" src="{% static 'bigHwmk/workplace.js' %}"></script>
    </body>
</html>